#{extends 'main.html' /}


<script>
    $(function() {

        $('#formid').bind('submit', function(event) {
            event.preventDefault();
            var str = jQuery.trim($('#email').val());
            $.ajax( {
                url: '@{Application.signup()}',
                type:'POST',
                data: {
                    email : 'as'
                },
                beforeSend: function(){

                },
                success: function(data) {
                    console.log (data);

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            }).done(function () {

            });

        });
    });
</script>

